
// #region rightTitle

.rightTitle {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightTitleIcon {
  width: 35px;
  height: 35px;
}

// #endregion rightTitle