// #region breadcrumb

.breadcrumb {
  height: 80px;
}

// #endregion breadcrumb

// #region image

.image {
  width: calc(100% - 640px);
  height: 100%;
  padding: 0;
  position: relative;
}

// #endregion image

// #region right

.right {
  width: 640px;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

// #endregion right

// #region ticketAreaTitle

.ticketAreaTitle {
  height: 48px;
  padding-left: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// #endregion ticketAreaTitle