// #region flex-center

.progressBar,
.numBlock,
.progressBarBlockText,
.progressBarIconBlock,
.timeCounterClock,
.timeCounterClockBlock,
.timeCounterText {
  display: flex;
  justify-content: center;
  align-items: center;
}

// #endregion flex-center

// #region breadcrumb

.breadcrumb {
  height: 80px;
}

// #endregion breadcrumb

// #region progressBar + timeCounter

.progressBarHeight {
  height: 80px;
}

// #endregion progressBar + timeCounter

// #region progressBar

.progressBar {
  padding: 0 20px;
}

.progressBarBlock {
  width: 261px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numBlock {
  width: 34px;
  height: 38px;
  color: white;
}

.progressBarBlockText {
  width: 110px;
  height: 100%;
}

.progressBarIconBlock {
  width: 68px;
  height: 100%;
}

.progressBarIcon {
  width: 35px;
  height: 35px;
}

// #endregion progressBar

// #region timeCounter

.timeCounter {
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timeCounterClock {
  width: 235px;
  height: 100%;
}

.timeCounterClockBlock {
  width: 50px;
  height: 61px;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
}

.timeCounterClock > .timeCounterClockBlock:not(:last-child) {
  margin-right: 5px;
}

.timeCounterClockColon {
  width: 10px;
  height: 61px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.timeCounterText {
  width: 179px;
  height: 100%;
}

// #endregion timeCounter

// #region image

.image {
  width: calc(100% - 640px);
  height: 100%;
  padding: 0;
  position: relative;
}

// #endregion image

// #region right

.right {
  width: 640px;
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

// #endregion right

// #region rightTitle

.rightTitle {
  height: 190px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.rightTitle > div:not(:last-child) {
  margin-bottom: 25px;
}

// #endregion rightTitle

// #region ticketAreaTitle

.ticketAreaTitle {
  height: 48px;
  padding: 15px 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

// #endregion ticketAreaTitle

// #region ticketArea

.ticketArea {
  color: black;
}

.ticketAreaBlock {
  height: 77px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketArea > .ticketAreaBlock:not(:last-child) {
  margin-bottom: 20px;
}

.ticketAreaBlockLeft {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketAreaSquare {
  width: 17px;
  height: 17px;
}

// #endregion ticketArea

// #region info

.info {
  height: 250px;
  padding: 20px 0;
}

.infoTitle {
  height: 35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContent {
  height: 155px;
  padding: 10px 0;
}

// #endregion info
