.icon-lg-size {
  font-size: larger;
}

.icon-margin {
  margin: 0px;
}

.mouse-cursor{
  cursor: pointer;
}

.navLink {
  position: relative;
  overflow: hidden;
}

.navLink::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
  left: 0;
}