// #region info

.info {
  padding-top: 15px;
}

.infoTitle {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoTitleIcon {
  width: 25px;
  height: 25px;
}

.infoContent {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.infoContent > div:not(:last-child) {
  margin-bottom: 10px;
}

// #endregion info
