// 導入 Bootstrap 變數和函數
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// #region 使用 Bootstrap 的 mixin 定義 music-container

$container-padding-x-large: 160px;
$container-padding-x-small: 28px;

@mixin large-container($padding-x: $container-padding-x-large) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

@mixin small-container($padding-x: $container-padding-x-small) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// 定義媒體查詢
@media (min-width: 1921px) {
  .music-container {
    @include large-container($container-padding-x-large);
  }
}

@media (max-width: 1920px) and (min-width: 391px) {
  .music-container {
    @include large-container($container-padding-x-large);
  }
}

@media (max-width: 390px) {
  .music-container {
    @include small-container($container-padding-x-small);
  }
}

// #endregion 使用 Bootstrap 的 mixin 定義 music-container

// #region 覆寫 color

$theme-colors: (
  'primary': #0d6efd,
  'secondary': #6c757d,
  'success': #198754,
  'info': #0dcaf0,
  'warning': #ffc107,
  'danger': #dc3545,
  'light': #f8f9fa,
  'dark': #212529,
  // 新增自定義顏色
  'purple1': #685beb,
  'purple2': #958cea,
  'purple3': #dbd7ff,
  'black1': #000000,
  'black2': #1a1a1a,
  'black3': #272727,
  'black4': #484848,
  'black5': #686868,
  'black6': #888888,
  'black7': #a1a1a1,
  'black8': #d1d1d1,
  'A': #ff9900,
  'B': #00a3ff,
  'C': #f12222,
  'D': #9e00ff,
  'E': #3ead2c,
);

// #endregion 覆蓋 覆寫 color

// #region 覆寫 card-border-radius

$card-border-radius: 0;

// #endregion 覆寫 card-border-radius

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 這裡導入所有 bootstrap 樣式
// 最後營運階段(實務)可以用部份導入來進行最佳化
// 參考: https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

//#region chr

.chr-h1 {
  font-family: 'Roboto';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 6.4px;
  line-height: normal;
}

.chr-h2 {
  font-family: 'Roboto';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  line-height: normal;
}

.chr-h3 {
  font-family: 'Roboto';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: normal;
}

.chr-h4 {
  font-family: 'Roboto';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.2px;
  line-height: normal;
}

.chr-h5 {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.4px;
  line-height: normal;
}

.chr-h6 {
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: normal;
}

.chr-h7 {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: normal;
}


.chr-p {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: normal;
}


.chr-p-14 {
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: normal;
}

.chr-p-12 {
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: normal;
}

//#endregion chr

//#region chb

.chb-h1 {
  font-family: 'Roboto';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 6.4px;
  line-height: normal;
}

.chb-h2 {
  font-family: 'Roboto';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4.8px;
  line-height: normal;
}

.chb-h3 {
  font-family: 'Roboto';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
}

.chb-h4 {
  font-family: 'Roboto';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3.2px;
  line-height: normal;
}

.chb-h5 {
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.4px;
  line-height: normal;
}

.chb-h6 {
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: normal;
}

.chb-h7 {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: normal;
}

.chb-p {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: normal;
}

.chb-p-14 {
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: normal;
}

.chb-p-12 {
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: normal;
}

//#endregion chb

//#region eng

.eng-h1 {
  font-family: 'Alata';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.92px;
  line-height: normal;
}

.eng-h2 {
  font-family: 'Alata';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.44px;
  line-height: normal;
}

.eng-h3 {
  font-family: 'Alata';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: normal;
}

.eng-h4 {
  font-family: 'Alata';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.96px;
  line-height: normal;
}

.eng-h5 {
  font-family: 'Alata';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: normal;
}

.eng-h6 {
  font-family: 'Alata';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: normal;
}

.eng-h7 {
  font-family: 'Alata';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.54px;
  line-height: normal;
}

.eng-p {
  font-family: 'Alata';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: normal;
}

//#endregion eng

//#region reset css

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  display: block;
  border: 0;
}

i,
em {
  font-style: normal;
}

a,
u,
ins,
s,
del {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

//#endregion reset css