/* margin-top:100px || bottom:100px */
.mt-100 {
  margin-top: 100px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-28 {
  margin-top: 28px;
}

.mb-100 {
  margin-bottom: 100px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.my-40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mx-400 {
  margin-left: 400px;
  margin-right: 400px;
}
.pt-80 {
  padding-top: 80px;
}

.px-30 {
  padding: 0 30px;
}
.btn-760 {
  width: 760px;
  padding: 30px 20px;
}


.ml-136 {
  margin-left: 136px;
}

.g-40 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.text-white {
 color: white;
}
.text-purple3 {
  color: #dbd7ff,
  ;
}
.text-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center-x {
  text-align: center; 
}

.w-795 {
  width: 795px;
}
.w-500 {
  width: 500px;
}
.w-400 {
  width: 400px;
}
.w-350 {
  width: 350px;
}
.w-180 {
  width: 180px;
}
.w-160 {
  width: 160px;
}
.w-50 {
  width: 50%;
}

.h-725 {
  height: 725px;
}
.h-120 {
  height: 120px;
}
.h-54 {
  height: 54px;
}
.h-40 {
  height: 40px;
}

.wh-100 {
  width: 100px;
  height: 100px;
}

.bg-bk {
  background-color: #000 ;
}
.bg-white {
  background-color: #fff;
}

.payment-btn {
  display: "flex";
padding: 0px 30px;
justify-content: space-between;
}
.check-input {
  border: 2px solid black;
}
$form-check-input-checked-bg-color: #685beb;