/* margin-top:100px || bottom:100px */
.mt-100 {
  margin-top: 100px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-40 {
  margin-top: 40px;
}

.mt-28 {
  margin-top: 28px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-60 {
  margin-bottom: 60px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}


.pt-80 {
  padding-top: 80px;
}




.ml-136 {
  margin-left: 136px;
}

.g-40 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.text-white {
 color: white;
}
.text-purple3 {
  color: #dbd7ff,
  ;
}

.w-350 {
  width: 350px;
}

.h-725 {
  height: 725px;
}
.w-795 {
  width: 795px;
}
.w-50 {
  width: 50%;
}
.bg-bk {
  background-color: #000 ;
}
.bg-white {
  background-color: #fff;
}

.sid-button {
  display: flex;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}