.img-size {
  // max-width: 160px;
  // max-height: 160px;
  width: 100%;
  height: 160px;
  border-radius: 50%;
  object-fit: cover; /* 或者 background-size: cover; */
}

.imgF {
  max-width: 160px;
  max-height: 160px;
}
.short-underline {
  display: inline-block;
  position: relative;
}
.short-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px; /* 這裡調整距離文字的距離 */
  transform: translateX(-50%);
  width: 50px; /* 設置底線的寬度 */
  height: 2px; /* 設置底線的高度 */
  background-color: rgb(255, 255, 255); /* 設置底線的顏色 */
}
