// #region info

.info {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #888888;
}

.infoBlock {
  display: flex;
  align-items: flex-start;
}

.infoTextIcon {
  width: 30px;
  height: 30px;
}

.info > .infoBlock:not(:last-child) {
  margin-bottom: 30px;
}

// #endregion info
