// #region zIndex

.zIndex {
  width: 100%;
  height: 148px;
  position: relative;
}

.zIndex > :first-child {
  position: absolute;
  bottom: 0;
}

// #endregion zIndex

.svgHeight {
  height: 551px;
}


// #region sweetalert2

@media (max-width: 390px) {
  .phoneSize {
    width: 270px;
    font-size: 15px;
  }
}

// #endregion sweetalert2
