// #region ticket

.orderTicketAccordion {
  margin-bottom: 60px;
}

.orderTicketBody {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 390px) {
  .orderTicketAccordion {
    margin-bottom: 30px;
  }
  .orderTicketBody {
    padding: 20px 0;
  }
}

// #endregion ticket
