// #region flexCenter

.outsideFlexCenter,
.innerFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerFlexCenter {
  flex-direction: column;
}

// #endregion flexCenter

// #region accordion marginTop

.accordionMarginTop {
  margin-top: 20px;
}

@media (max-width: 390px) {
  .accordionMarginTop {
    margin-top: 0px;
  }
}

// #endregion accordion marginTop
