// #region flex center

.progressBar,
.numBlock,
.progressBarBlockText,
.progressBarIconBlock,
.timeCounterClock,
.timeCounterClockBlock,
.timeCounterText {
  display: flex;
  justify-content: center;
  align-items: center;
}

// #endregion flex center

// #region progressBar + timeCounter

.progressBarHeight {
  height: 70px;
}

// #endregion progressBar + timeCounter

// #region progressBar

.progressBar {
  padding: 0 20px;
}

.progressBarBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBarBlock > div:not(:last-child) {
  margin-right: 80px;
}

.numBlock {
  width: 34px;
  height: 38px;
  color: white;
}

.progressBarBlockText {
  width: 110px;
  height: 100%;
}

.progressBarIconBlock {
  width: 68px;
  height: 100%;
}

.progressBarIcon {
  width: 35px;
  height: 35px;
}

// #endregion progressBar

// #region phone 390px

@media screen and (max-width: 390px) {
  // 隱藏大於390px的樣式
  .progressBarHeight,
  .progressBar,
  .numBlock,
  .progressBarBlockText,
  .progressBarIconBlock,
  .timeCounterClock,
  .timeCounterClockBlock,
  .timeCounterText {
    display: none;
  }

  // 新增小於等於390px的樣式
  .progress {
    height: 60px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progressLeft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progressLeftSquare {
    width: 28px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #685beb;
    margin-right: 50px;
  }

  .progressLeftText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
}

// #endregion phone 390px
