// #region rightTitle

.rightTitle {
  // height: 130px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.rightTitle > div:not(:last-child) {
  margin-bottom: 10px;
}

// #endregion rightTitle