.same-width-text {
  width: 300px; /* 根據長度調整寬度 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img160 {
  width: 160px;
  height: 160px;
  object-fit: cover;
}
/* @media 查詢 */
@media (max-width: 576px) {
  .col img {
    width: 80px; /* 在螢幕寬度小於576px時，將圖片寬度設為100px */
    height: 80px; /* 同上，將圖片高度設為100px */
  }
}

.marqee-container {
  // max-width: 150px; /* 最大寬度為150px */
  overflow: hidden; /* 隐藏超出容器部分的内容 */
  white-space: nowrap; /* 文字不换行 */
}

.marqee-content {
  display: inline-block;
}

.marqee {
  animation: marqee 5s linear infinite;
}

.marqee:hover {
  animation-play-state: paused; /* 鼠标移入时暂停动画 */
}

@keyframes marqee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 400px) {
  .marqee-container {
    max-width: 150px; /* 最大寬度為150px */
    overflow: hidden; /* 隐藏超出容器部分的内容 */
    white-space: nowrap; /* 文字不换行 */
  }
}

// .marqee {
//   height: 20px;
//   width: 150px;
//   overflow: hidden;
//   position: relative;
// }

// .marqee > span {
//   padding-left: 0;
//   display: flex;
//   list-style-type: none;
//   animation: marqee 5s linear infinite;
//   position: absolute;
//   white-space: nowrap;
//   margin-right: 2em;
//   font-weight: bold;
// }

// @keyframes marqee {
//   0% {
//     left: 100%;
//     transform: translateX(0%);
//   }

//   100% {
//     left: 0;
//     transform: translateX(-100%);
//   }
// }
