.same-width-text {
  width: 150px; /* 根据日期文本的长度调整宽度 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//讓文字不要因為字數長短而改變對齊位置
.text-container {
  display: flex;
  align-items: center;
}
