// #region breadcrumb

.breadcrumb {
  width: 100%;
  height: 36px;
  background-color: salmon;
}

// #endregion breadcrumb

// #region ticket

.orderTicketAccordion {
  margin-bottom: 30px;
}

.orderTicketBody {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

// #endregion ticket
