.div-wrapper-screen {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 100vh;
  position: relative;
}

.div-wrapper-screen .header-fluid-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.div-wrapper-screen .header-fluid-2 {
  margin-left: unset !important;
  margin-right: -37437.5px !important;
  margin-top: -1655px !important;
}

.div-wrapper-screen .header-fluid-3 {
  margin-left: unset !important;
  margin-right: -37293.5px !important;
  margin-top: -1655px !important;
}

.div-wrapper-screen .header-fluid-4 {
  margin-left: unset !important;
  margin-right: -37149.5px !important;
  margin-top: -1655px !important;
}

.div-wrapper-screen .web-body {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.div-wrapper-screen .design-component-instance-node-2 {
  align-self: stretch !important;
  height: unset !important;
}

.div-wrapper-screen .right-side {
  align-items: flex-start;
  align-self: stretch;
  background-color: #eaeaea;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 48px;
  padding: 80px 160px;
  position: relative;
}

.div-wrapper-screen .frame-360 {
  align-self: stretch !important;
  display: flex !important;
  height: 80px !important;
  width: 100% !important;
}

.div-wrapper-screen .ticket-detail {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1227px;
}

.div-wrapper-screen .frame-14 {
  align-self: stretch !important;
  display: flex !important;
  height: 56.75px !important;
  width: 100% !important;
}

.div-wrapper-screen .component-34 {
  align-self: stretch !important;
  display: flex !important;
  flex: unset !important;
  height: unset !important;
  width: 242px !important;
}

.div-wrapper-screen .frame-259 {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.div-wrapper-screen .frame-259-instance {
  white-space: unset !important;
}

.div-wrapper-screen .frame-15 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  gap: 156px;
  padding: 10px 0px;
  position: relative;
  width: 1227px;
}

.div-wrapper-screen .frame-16 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 23px;
  padding: 0px 60px;
  position: relative;
}

.div-wrapper-screen .frame-17 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 6px;
  position: relative;
}

.div-wrapper-screen .icon-instance-node-2 {
  height: 25px !important;
  margin-bottom: -1px !important;
  margin-top: -1px !important;
  position: relative !important;
  width: 25px !important;
}

.div-wrapper-screen .text-wrapper-14 {
  color: #000000;
  font-family: var(--chi-b-h6-font-family);
  font-size: var(--chi-b-h6-font-size);
  font-style: var(--chi-b-h6-font-style);
  font-weight: var(--chi-b-h6-font-weight);
  letter-spacing: var(--chi-b-h6-letter-spacing);
  line-height: var(--chi-b-h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper-screen .frame-18 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 0px 60px;
  position: relative;
}

.div-wrapper-screen .product-detail {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.div-wrapper-screen .frame-418 {
  background-image: url(./g6xe6fgufzdgqz7vfybqyt-png-2.png) !important;
}

.div-wrapper-screen .frame-418-instance {
  background-image: url(./g6xe6fgufzdgqz7vfybqyt-png-3.png) !important;
}

.div-wrapper-screen .frame-19 {
  background-image: url(./g6xe6fgufzdgqz7vfybqyt-png-4.png) !important;
}

.div-wrapper-screen .frame-356-instance {
  align-self: stretch !important;
  background-color: #ffffff !important;
  width: 100% !important;
}

.div-wrapper-screen .frame-20 {
  color: var(--black-100) !important;
  white-space: unset !important;
}

.div-wrapper-screen .frame-372-instance {
  align-self: stretch !important;
  background-color: #ffffff !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}
