.selectTicketBlock {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  background-color: white;
  z-index: 1000;

  @media (max-width: 390px) {
    width: 155px;
  }
}

.selectTicketBlock::before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: 102px;
  left: 86px;
  border: 13px solid #000;
  border-style: solid dashed dashed;
  border-color: white transparent transparent;

  @media (max-width: 390px) {
    top: 88px;
    left: 65px;
  }
}

.selectTicketBlock.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0s linear;
}

.colorBar {
  width: 100%;
  height: 6px;
}

.content {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
