.ticketLimit {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  z-index: 2000;

  @media (max-width: 390px) {
    width: 250px;
  }
}

.ticketLimitTitle {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d1d1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @media (max-width: 390px) {
  height: 50px;
  }
}

.ticketLimitText {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 40px;
  letter-spacing: 2px;

  @media (max-width: 390px) {
  padding: 20px;
  line-height: 30px;
  font-size: 15px;
  }
}

.ticketLimitIcon{
  width: 40px;
  height: 40px;
}