.zoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  user-select: none;
}

.zoom > div {
  width: 100%;
  padding: 8px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.zoom > div:not(:last-child) {
  border-bottom: 2px solid gray;
}

.icon {
  width: 25px;
  height: 25px;
  transition: all 0.8s ease;
}

.icon.changeColor {
  color: #A1A1A1;
  transition: all 0.8s ease;
}

.zoom > .icon:not(:last-child) {
  margin-bottom: 10px;
}
