// #region payment

.payment {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.payment > .paymentBlock:not(:last-child) {
  margin-bottom: 30px;
}

.paymentBlock {
  display: flex;
  justify-content: space-between;
}

.paymentBlockLeft {
  display: flex;
  align-items: center;
}

.paymentCircle {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.ecPayImage {
  width: 120px;
  height: 35px;
  position: relative;
  img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.linePayImage {
  width: 130px;
  height: 35px;
  position: relative;
  img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    opacity:0.2;
  }
}

.mt-28 {
  margin-top: 28px;
}

// #endregion payment