<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <style>
      .img-size {
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          <img
            id="himg"
            src="./img/angel-1284369__340.jpg"
            alt=""
            class="img-size mx-auto"
          />
        </div>
        <div>
          <ul class="list-unstyled">
            <a href="" class="text-decoration-none text-center fw-bold"
              ><li><h4>行事曆</h4></li></a
            >
            <a href="" class="text-decoration-none text-center fw-bold">
              <li><h4>收藏庫</h4></li>
            </a>
            <a href="" class="text-decoration-none text-center fw-bold">
              <li><h4>我的票券</h4></li></a
            ><a href="" class="text-decoration-none text-center fw-bold"
              ><li><h4>商城購買紀錄</h4></li></a
            >
            <a href="" class="text-decoration-none text-center fw-bold"
              ><li><h4>帳號設定</h4></li></a
            >
          </ul>
        </div>
        <div>
          <h6>jin@gmail.com</h6>
          <br />
          <button>登出</button>
        </div>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script>
      const himg = document.querySelector('#himg')

      himg.addEventListener('click')
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
