// #region breadcrumb

.breadcrumb {
  height: 60px;
}

// #endregion breadcrumb

// #region ticket

.orderTicketAccordion {
  margin-bottom: 60px;
}

.orderTicketBody {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


// #endregion ticket
