// #region order

.order {
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 60px;
  border-bottom: 1px solid #a1a1a1;
}

// #endregion order
