// #region form

.form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.form >,
.formBlock:not(:last-child) {
  margin-bottom: 10px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formBlock > div:not(:last-child) {
  margin-bottom: 10px;
}

.formInput {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #a1a1a1;
  cursor: not-allowed;
}

// #endregion form
