// #region right

.rightTop {
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.rightBottom {
  height: calc(100% - 169px);
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

// #endregion right

// #region rightTitle

.rightTitle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.rightTitle > div:not(:last-child) {
  margin-bottom: 10px;
}

// #endregion rightTitle