// #region right

.rightTop {
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.rightBottom {
  height: calc(100% - 169px);
  padding: 0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

// #endregion right
