// #region info

.info {
  padding: 10px 0 20px 0;
}

.infoTitle {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoTitleIcon {
  width: 20px;
  height: 20px;
}

.infoContent {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.infoContent > div:not(:last-child) {
  margin-bottom: 10px;
}

// #endregion info
