/* //#region chloe 測試 */
.swiper-slide {
  margin-right: 0 !important;
}

.swiper-width{
  width: 350px !important;
}

.artist-img-s {
  width: 100%;
}

.artist-img-l {
  width: 80%;
}

.bannerSty {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('https://i.postimg.cc/Vk2Tz92R/cove-default-bg.png');
  background-attachment: fixed;
  background-color: #d8c1c1;
}

.p-relative {
  position: relative;
  top: 35%;
}

.p-absolute {
  position: absolute;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}

.my-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}


.img-borderA {
  border: 1px solid var(--Primary-02, #958CEA);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(5px);
}

.custom-bg-01 {
  background-image: url('https://i.postimg.cc/CLWYD3d9/temp-Imagea-Dk-U5o.avif');
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.custom-bg-02 {
  background-image: url('https://i.postimg.cc/dVqGYcnh/temp-Image-FAo-ZMq.avif');
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.ov-hide {
  overflow: hidden;
}

.cover {
  object-fit: cover;
  object-position: 50%, 50%;
  background-position: center;
}

.contain {
  object-fit: contain;
  position: center;
}

/* 以下是navbar */
.navbar-light-a {
  /* 變數待修改 */
  background-color: transparent;
}

.navbar-dark-a {
  background-color: #000000;
}

.icon-lg-size {
  font-size: larger;
}

.icon-margin {
  margin: 0px;
}

.outline {
  border: 1px solid #685BEB;
}

.bg-img-flow {
  position: relative;
  top: 0%;
  height: 2000px;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.postimg.cc/Bb7JvBYJ/temp-Imagejx-Wr-Mn.avif");
}






@media (max-width: 390px) {
  .bannerSty {
    height: 240px;
    background-attachment: unset;
  }

  .mt-120 {
    margin-top: 60px;
  }

  .mb-120 {
    margin-bottom: 60px;
  }

  .my-120 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .mt-80 {
    margin-top: 40px;
  }

  .mb-80 {
    margin-bottom: 40px;
  }

  .my-80 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .custom-bg-01 {
    height: 11rem;
  }

  .custom-bg-02 {
    height: 11rem;
  }
}

/* //#region chloe 測試 */